.main-header
  .current-group{"data-group_id" => "462"}
    %h2.current-group__name test
    %ul.member-list
      Member：
      %li.member-list__member aaa
      %li.member-list__member bbb
      %li.member-list__member ccc
      %li.member-list__member あずみ
  %a{:href => "/groups/462/edit"}
    .main-header__edit-btn Edit
