.main-header
  .current-group
    %h2.current-group__name=@group.name
    %ul.member-list
      Member：
      - @group.users.each do |user| 
        %li.member-list__member=user.name
        
  =link_to 'Edit', edit_group_path(params[:group_id]), class:"main-header__edit-btn"
