.message{"data-message_id" => "1286"}
  .upper-info
    %p.upper-info__user=message.user.name
    %p.upper-info__date=message.created_at
 
  - if message.text.present?
    %p.message__text=message.text
    
  %p.message__text=image_tag message.image.url if message.image.present?
