.flash-box
  =render 'shared/flash'
.wrapper
  .chat-side
    = render 'side-header'
    .groups
      =render 'group'
      
  .chat-main
    = render 'main-header'

    .messages
      = render 'message'
      
    .form
      =render 'form'
