.side-header
  %p.side-header__user-name たぬき
  %ul.user-menu
    %li.user-menu__edit-user
      %a{:href => "/groups/new"}
        %i.fa.fa-edit
    %li.user-menu__new-group
      %a{:href => "/users/241/edit"}
        %i.fa.fa-cog
