.chat-group-form
  %h1 チャットグループ編集
  =render 'form', group: @group

  -# .chat-group-form__field.clearfix
  -#   .chat-group-form__field--left
  -#     %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
  -#   .chat-group-form__field--right
  -#     = f.collection_check_boxes :user_ids, User.all, :id, :name do |user|
  -#       = user.label{user.check_box + user.text}
  -#     / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
