.flash-box
  =render 'shared/flash'
.wrapper
  .chat-side
    = render 'shared/side-header'
    .groups
      - current_user.groups.each do |group|
        =render 'shared/group', group: group
        
      
  .chat-main
