.flash-box
  =render 'shared/flash'
.wrapper
  .chat-side
    = render 'side-header'
    .groups
      - current_user.groups.each do |group|
        =render 'group', group: group
        
      
  .chat-main
    = render 'main-header'

    .messages
      = render 'message'
      
    .form
      =render 'form'
