html {
  box-sizing: border-box;
  *,*:before,*:after {
    box-sizing: inherit;
  }
}

a{
  text-decoration: none;
  &:link{
    color: inherit;
  }
  &:hover{
    color: inherit;
  }
  &:visited{
    color: inherit;
  }
}
